@model DCA_Calculator.Models.DCABag

@{
    ViewData["Title"] = "Add new DCA bag";
}

<h1>Create new DCA bag</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDCA" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CryptoCoin" class="control-label"></label>
                <input asp-for="CryptoCoin" class="form-control" />
                <span asp-validation-for="CryptoCoin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIAT" class="control-label"></label>
                <select asp-for="FIAT" class="form-control">
                    <option value="Dollar">Dollar</option>
                    <option value="Euro">Euro</option>
                    <option value="HUF">Hungarian forint</option>
                </select>
                <span asp-validation-for="FIAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListBags">Back to bags</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
